.item{
    width: 200px;
    padding: 0 0.8rem 0.8rem 0.8rem;
    background-color: #fff;
    border-radius:20%;
    text-align: center;
    flex-direction: column;
    /* display: flex; */
   height: 220px;
     box-shadow: 0 8px 20px rgb(96, 141, 196);
    cursor: pointer;

}
.item img{
    margin-top: -3.5rem;
    height: 120px;
    object-fit: contain; 
    border-radius: 80px;
       
   
}


.item-foot_desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.item-head_desc p {
    margin: 0;
    margin-bottom: 0.5rem;
   
    

}
.item-head_desc{
    text-align: left;
    flex:1;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
 
}
.head_desc-name{
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: capitalize;
    flex:1;
   

}

.head_desc-info{
    font-size: 0.8rem;
    color: #a0a0a0a0;
    
    
  
}
.foot_desc-price{
    font-weight: 700;
    padding-left: 0rem;
    position: inherit;
    

}


@media (max-width:735px){
    .item img{
       
        margin-top: -3.5rem;
        height: 130px;
        object-fit: contain;
        border-radius: 80px;
        margin-right: 30rem;
        position: relative;
        right:70px;
         
      }  
}
@media (max-width:535px){
    .item img{
       
        margin-top: -3.5rem;
        height: 130px;
        object-fit: contain;
        border-radius: 80px;
        margin-right: 30rem;
        position: relative;
        right: 70px;
         
      }  
}

@media (max-width:335px){
    .item img{
       
        margin-top: -3.5rem;
        height: 120px;
        object-fit: contain;
        border-radius: 80px;
        margin-right: 30rem;
        position: relative;
        right: 108px;
         
      }
    
}