section-m{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem 0 0 0;
    height: 80vh;
  }
.section-m-img{
    width: 100%;
    align-self: center;

}

.header-main{
    
    display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}
.header-main h1{
  font-size: 4rem;  
  margin-bottom: 1.5rem;
  color: rgb(16, 190, 153);
     
}
.header-main button{
    background-color: #000;
    color: #fff;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    outline: none;
    border: none ;
    font-size: 1rem ;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    cursor: pointer;
    margin-top: 2.5rem;
}
.header-main p{
    font-weight: 500;
    color: rgb(16, 190, 153);
}


@media(max-width: 768px){
  .header-main h1{
font-size: 1.2rem;
margin-bottom: 1rem;  
}
.header-main p{
    font-size: 0.8rem;

}
.header-main button{
    font-size: 0.8rem;
    width: 150px;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
}
}