#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .map{
    width: 55%;
    height: 400px;
}
#form-details{
    display: flex;
    justify-content: space-between;
    margin:30px;
    padding: 80px;
    border:1px solid #e1e1e1 ;
    margin-top: 10%;
    
}
#contact-details .details span,
#form-details from span
{
    font-size: 12px;

}
#contact-details .details.h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px;
}
#contact-details .details.h2{
    font-size: 16px;
    line-height: 15px;
    
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
    
}
#contact-details .details li p{
    margin: 0;
    font-size: 14px;

}
#form-details form  {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10%;
    
}
#form-details form input,#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px; 
    border: 2spx solid #e1e1e1;
}
#form-details form button{
    background-color: #088178;
    color: #fff;
}
#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
#form-details .people{
    margin-top: 15%;
}
#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 50%;
}
#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;

}
#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
@media (max-width: 799px ) {
   #form-details{
     padding: 50px;

   }
   #form-details from{
       width: 50%;
   }
   img{
       width: 320px;
       height: 100%;
   }
  
    
    
}

@media(max-width:477px){
    #contact-details{
        flex-direction: column;
    }
    #contact-details .details{
        width: 100%;
        margin-bottom: 30px;
    }
    #contact-details .map {
        width:10%;
        margin-right: 100%;
    }
    img{
        width: 400px;
        height: 80%;
    }
    #form-details{
        margin: 10px;
        padding: 30px 10px;
        flex-wrap:wrap ;
    }
    #form-details form{
        width: 100%;
        margin-bottom: 30px;
    }
}